.footer {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  list-style: none;
  border-top: solid 2px red;
  text-align: center;
  justify-content: space-between;
  padding: 30px;
}

a {
  text-decoration: none;
  font-family: "Poppins";
}

.nav {
  display: flex;
  flex-direction: column;
}
