.im {
  display: flex;
  flex-direction: row;
  gap: 20px;
  background-color: red;
  list-style: none;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  flex-wrap: wrap;
}
.im p {
  justify-content: center;
  text-align: center;
}
.im button {
  border: none;
}
.kind {
  margin-top: 5rem;
}

.ls {
  cursor: pointer;
}

.all {
  display: flex;
  flex-direction: row;
  background-color: red;
  height: 10rem;
}
.ls {
  display: flex;
  flex-direction: column;
  background-color: rgb(245, 242, 242);
  /* padding: 10px; */
  align-items: center;
  justify-content: center;
  width: 20rem;
}
.widthc {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.centering {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
